@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #171717;
  color: #eceff4;
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.bg-primary {
  background: #2e3440;
}

.bg-secondary {
  background: #eceff4;
}

.text-color-primary {
  color: #eceff4;
}

.text-color-secondary {
  color: #2e3440;
}

.text-center {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100vw;
  background-image: linear-gradient(
      90deg,
      #171717 0% 25%,
      #171717 35%,
      #171717 40%,
      #171717fa 45%,
      #171717f5 50%,
      #171717de 55%,
      #171717c2 60%,
      #1717175e 90%,
      #17171714 95%,
      #17171708 100%
    ),
    url('/bg.jpg');
  background-size: cover;
}

button {
  all: unset;
}

.container {
  position: relative;
  width: 100vw;
}

.header {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.nav {
  left: 1em;
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin-bottom: 5vw;
  transition: background 150ms ease-in-out;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul:nth-child(2) {
  margin-right: 1em;
}

.nav ul:nth-child(2) button {
  all: unset;
  cursor: pointer;
}

.nav ul:nth-child(2) button svg {
  width: 32px;
}

.nav ul li {
  margin: 1em 1em;
}

.nav ul li a {
  all: unset;
  cursor: pointer;
}

.nav ul li img {
  width: 50px;
  height: 50px;
}

.nav ul li.language-switcher {
  font-size: 2em;
  position: relative;
  margin: 0.2em 0.2em;
}

.language-switcher-menu ul {
  z-index: 2;
  cursor: pointer;
  display: flex;
  background-color: #171717a1;
  flex-direction: column;
  position: absolute;
  right: 0;
  border-top: 2px solid #fff;
  margin-top: 0.2em;
  padding: 0;
}

.language-switcher-menu ul::before {
  position: absolute;
  top: -5px;
  right: auto;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
}

.language-switcher-menu ul li {
  display: block;
  width: auto;
  height: auto;
  border: 1px solid #4a4a4a;
  padding: 0.8em;
  margin: 0;
  font-size: 0.8em;
}

.language-switcher-menu ul li:hover {
  background-color: #171717;
}

.title-box {
  position: relative;
  width: 600px;
  margin-left: 80px;
  margin-bottom: 2em;
  z-index: 1;
}

.title-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  color: #e50914;
}

.title-box h1 span {
  font-weight: normal;
  color: #eceff4;
}

.title-box h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.title-box ul {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
}

.title-box ul li::after {
  content: ' |';
  padding: 0 10px 0 5px;
}

.title-box ul li:last-child:after {
  display: none;
}

div.image {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

div.image .img {
  width: 100%;
}

.button {
  border-color: #dbdbdb;
  border-width: 1px;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.button strong {
  color: inherit;
}

.button .icon,
.button .icon.is-large,
.button .icon.is-medium,
.button .icon.is-small {
  height: 1.5em;
  width: 1.5em;
}

.button.is-hovered,
.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button.is-focused,
.button:focus {
  border-color: #e50914;
  color: #363636;
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(229, 9, 20, 0.25);
}

.button.is-active,
.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.talks_2021 {
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  margin: 5em 0 5em 80px;
}

.talks_container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em 2em;
  margin-bottom: 2em;
}

.talk_card {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
  height: 16em;
  z-index: 1;
  border-radius: 0.5em;
  padding: 0.5em;
}

.talk_card p {
  padding: 0.5em;
  font-size: 1.7em;
}

.talk_card p a::before {
  content: '';
  display: inline-flex;
  width: .5em;
  height: .5em;
  margin-right: .5em;
  -webkit-mask-image: url(/url.svg);
  mask-image: url(/url.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #fff;
}

.talk_card::before {
  content: '';
  position: absolute;
  background: #171717 url('/shsquared.png') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  border-radius: 5px 0 5px 0;
}

@media screen and (max-width: 992px) {
  .title-box {
    width: 100%;
    top: auto;
    left: auto;
    padding: 10px;
    margin-left: 0;
  }
}

.sponsors_2022 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1rem;
  font-weight: bold;
  place-items: center;
}

.card_sponsor {
  width: 80%;
  height: 30em;
  border-radius: 1em;
  position: relative;
  box-sizing: border-box;
  align-items: flex-end;
  text-decoration: none;
  margin-bottom: 2em;
  background-size: cover;
  z-index: 1;
}

.title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}

.sponsorship_price {
  text-align: center;
  margin-top: -1em;
  font-size: 20px;
}

.sponsorship_offer {
  margin: 1em 1em;
}

.after_main {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  padding-bottom: 2em;
}

.after_main a {
  text-decoration: underline;
}

.after_main h2 {
  width: 40%;
}

.after_main h3 {
  font-size: 1.5rem;
  width: 50%;
}

.after_main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4em;
}

.after_main_container h3 {
  font-size: 1.5rem;
}

.after_main_container li {
  position: relative;
  width: 18rem;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.cfp_card {
  background: #171717 url('/sh.png') no-repeat;
  background-size: cover;
  width: 18em;
  height: 10em;
  position: relative;
  z-index: 1;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em;
  padding: 0.5em;
}

.cfp_card p {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5em;
}

.cfp_card::before {
  content: '';
  position: absolute;
  background: #171717 url('/shsquared.png') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  border-radius: 0 0 5px 0;
}

.jsts {
  background: #171717 url('/javascript.png') no-repeat;
  background-size: cover;
}
.opensource {
  background: #171717 url('/opensource.png') no-repeat;
  background-size: cover;
}
.cloud {
  background: #171717 url('/cloud.webp') no-repeat;
  background-size: cover;
}
.rustgopython {
  background: #171717 url('/rust.png') no-repeat;
  background-size: cover;
}
.dei {
  background: #171717 url('/dei.jpeg') no-repeat;
  background-size: cover;
}
.a11y {
  background: #171717 url('/a11y.webp') no-repeat;
  background-size: cover;
}
.greensustainability {
  background: #171717 url('/greentech.png') no-repeat;
  background-size: cover;
}

.mobile-menu {
  display: none;
}

.footer-inner {
  margin: 0 40px;
}

.footer-top {
  padding: 3rem 0;
  display: flex;
  border-bottom: 0.1rem solid #454f4f;
  /* justify-content: space-between; */
}

.footer-top a {
  border-radius: 50%;
  background: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
}

.footer-center {
  border-bottom: 0.1rem solid #454f4f;
}

.footer-center a {
  text-decoration: underline;
  margin-left: 0.2rem;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-footer span {
  margin: 0 1rem;
}

.footer-footer-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .sticky {
    position: relative;
    width: auto;
    transition: none;
  }

  .nav ul {
    display: none;
  }

  .nav ul li {
    margin: 0.5em;
  }

  .nav ul li img {
    width: 32px;
    height: 32px;
  }

  .language-switcher-menu ul {
    cursor: pointer;
    display: inline-flex;
    background-color: #171717a1;
    flex-direction: column;
    border-top: 2px solid #fff;
    margin-top: 0.2em;
    padding: 0;
    position: relative;
  }

  .language-switcher-menu ul::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
  }

  .language-switcher-menu ul li {
    display: block;
    width: auto;
    height: auto;
    border: 1px solid #4a4a4a;
    padding: 0.8em;
    margin: 0;
    font-size: 0.8em;
  }

  .language-switcher-menu ul li:hover {
    background-color: #171717;
  }

  .content {
    margin-top: 2em;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-menu .mobile-logo {
    display: block;
    position: relative;
    margin: 0 10px;
    top: 2em;
  }

  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    margin: 10px;
    top: 2em;
    width: 36px;
    height: 30px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fff;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    z-index: 1100;
    width: 100vw !important;
    height: 100vh !important;
    transition: all 0.5s ease 0s;
    top: 0 !important;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #171717;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #171717;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 1.2em;
    padding: 0.5em 0;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 80%,
      black 100%
    );
  }

  .title-box ul {
    font-size: 0.8em;
    max-width: 90%;
  }

  .title-box ul li::after {
    padding: 0 0.2em 0 0.1em;
  }

  .title-box {
    position: relative;
    z-index: 1;
  }

  .talks_2021 {
    justify-content: center;
    margin: 3em 0 3em 0;
  }

  .talks_2021 h2 {
    text-align: center;
  }

  .talks_container {
    grid-template-columns: 1fr;
    padding-bottom: 2em;
  }

  main {
    height: auto;
    background-image: linear-gradient(
        90deg,
        #171717 0% 25%,
        #171717fa 35%,
        #171717fa 40%,
        #171717fa 45%,
        #171717f5 50%,
        #171717f5 55%,
        #171717f5 60%,
        #171717de 90%,
        #171717de 95%,
        #171717de 100%
      ),
      url('/bg.jpg');
  }

  .title-box p {
    font-size: 1.3em;
    max-width: 90%;
  }

  .after_main {
    position: relative;
    padding: 10px;
    margin-left: 0;
    padding-bottom: 2em;
  }
  .after_main h2 {
    width: 100%;
    font-size: 1.5em;
  }
  .after_main h3 {
    width: 100%;
    font-size: 1.5em;
  }

  .sponsors_2022 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1rem;
    font-weight: bold;
    place-items: center;
  }

  .card_sponsor {
    width: 90%;
    height: 30em;
    padding: 2em;
  }

  .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin: 0 0 20px 0;
  }

  footer {
    margin-top: 1em;
  }

  footer span {
    display: inline-block;
    padding: 5px;
  }

  .talk_card {
    width: 80%;
    height: 20em;
    margin: 0 auto;
  }

  .footer-inner {
    margin: 0;
    padding: 10px;
  }

  .text_section {
    margin-top: -3em;
  }

  .text_section h3 {
    font-size: 1.3em;
    font-weight: initial;
  }
}

.second-menu {
  display: block;
  position: relative;
}

.notifications-menu {
  position: relative;
  cursor: pointer;
}

.notification-dot {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #e50914;
  position: absolute;
  top: 0;
  left: -0.2em;
  border-radius: 8px;
}

.notification-menu ul {
  display: flex;
  background-color: #171717a1;
  flex-direction: column;
  position: absolute;
  right: -0.5em;
  border-top: 2px solid #fff;
  margin-top: 1em;
  padding: 0;
}

.notification-menu ul::before {
  position: absolute;
  top: -5px;
  right: 1em;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
}

.notification-menu ul li {
  display: block;
  width: 20em;
  height: 3em;
  border: 1px solid #4a4a4a;
  padding: 1em 0 1em 0.5em;
  margin: 0;
  font-size: 0.8em;
}

.notification-menu ul li:hover {
  background-color: #171717;
}

.notification-menu ul li img {
  width: 16px;
  height: 16px;
  display: inline-block;
  justify-content: center;
  margin-right: 1em;
}

/** Sponsor card colors */

.platinum {
  background-image: linear-gradient(
    225deg,
    hsl(0deg 0% 52%) 0%,
    hsl(50deg 0% 46%) 11%,
    hsl(50deg 0% 40%) 22%,
    hsl(50deg 1% 34%) 33%,
    hsl(50deg 1% 29%) 44%,
    hsl(50deg 2% 24%) 56%,
    hsl(50deg 3% 18%) 67%,
    hsl(51deg 4% 13%) 78%,
    hsl(50deg 7% 9%) 89%,
    hsl(50deg 60% 2%) 100%
  );
  color: #fff;
}

.diamond {
  background-image: linear-gradient(
    225deg,
    hsl(211deg 73% 91%) 0%,
    hsl(202deg 93% 89%) 11%,
    hsl(194deg 94% 86%) 22%,
    hsl(185deg 83% 83%) 33%,
    hsl(174deg 77% 81%) 44%,
    hsl(161deg 79% 81%) 56%,
    hsl(142deg 76% 83%) 67%,
    hsl(107deg 71% 83%) 78%,
    hsl(78deg 70% 78%) 89%,
    hsl(55deg 76% 76%) 100%
  );
  color: #171717;
}

.gold {
  background-image: linear-gradient(
    225deg,
    hsl(54deg 95% 60%) 0%,
    hsl(53deg 83% 61%) 11%,
    hsl(53deg 72% 61%) 22%,
    hsl(52deg 60% 61%) 33%,
    hsl(51deg 49% 60%) 44%,
    hsl(50deg 38% 59%) 56%,
    hsl(49deg 28% 58%) 67%,
    hsl(48deg 18% 57%) 78%,
    hsl(47deg 9% 56%) 89%,
    hsl(0deg 0% 54%) 100%
  );
  color: #171717;
}

.silver {
  background-image: linear-gradient(
    225deg,
    hsl(0deg 0% 88%) 0%,
    hsl(188deg 11% 82%) 11%,
    hsl(188deg 17% 77%) 22%,
    hsl(188deg 21% 72%) 33%,
    hsl(188deg 24% 66%) 44%,
    hsl(188deg 26% 61%) 56%,
    hsl(188deg 28% 56%) 67%,
    hsl(188deg 30% 50%) 78%,
    hsl(187deg 42% 43%) 89%,
    hsl(187deg 65% 35%) 100%
  );
  color: #171717;
}

.community {
  background-image: linear-gradient(
    225deg,
    hsl(288deg 86% 50%) 0%,
    hsl(284deg 77% 54%) 11%,
    hsl(279deg 68% 55%) 22%,
    hsl(274deg 59% 55%) 33%,
    hsl(267deg 51% 55%) 44%,
    hsl(258deg 44% 55%) 56%,
    hsl(246deg 37% 54%) 67%,
    hsl(230deg 35% 50%) 78%,
    hsl(216deg 45% 44%) 89%,
    hsl(204deg 67% 36%) 100%
  );
  color: #171717;
}

.media {
  background-image: linear-gradient(
    225deg,
    hsl(124deg 86% 50%) 0%,
    hsl(123deg 72% 57%) 11%,
    hsl(126deg 59% 59%) 22%,
    hsl(134deg 47% 59%) 33%,
    hsl(148deg 36% 58%) 44%,
    hsl(171deg 27% 56%) 56%,
    hsl(199deg 34% 58%) 67%,
    hsl(215deg 47% 61%) 78%,
    hsl(223deg 64% 63%) 89%,
    hsl(227deg 83% 65%) 100%
  );
  color: #171717;
}

.sponsorship_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 3em;
  width: 100%;
}


.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #171717;
  transition: background 350ms ease-in;
  height: 50px;
}

.sticky ul li {
  font-size: .8em;
}

.sticky ul li img {
  width: 32px;
  height: 32px;
}

.sticky .menu img {
  width: 32px;
  height: 32px;
}
