@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #171717;
  color: #eceff4;
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      #171717 0% 25%,
      #171717 35%,
      #171717 40%,
      #171717fa 45%,
      #171717f5 50%,
      #171717de 55%,
      #171717c2 60%,
      #1717175e 90%,
      #17171714 95%,
      #17171708 100%
    ),
    url('/bg.jpg');
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 80%,
    black 100%
  );
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 80%,
    black 100%
  );
}

.header {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.nav {
  left: 1em;
  display: flex;
  width: 98%;
  justify-content: space-between;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul:nth-child(2) {
  margin-right: 1em;
}

.nav ul:nth-child(2) button {
  all: unset;
  cursor: pointer;
}

.nav ul:nth-child(2) button svg {
  width: 32px;
}

.nav ul li {
  margin: 1em 1em;
}

.nav ul li a {
  all: unset;
  cursor: pointer;
}

.nav ul li img {
  width: 50px;
  height: 50px;
}

.title-box {
  position: absolute;
  width: 600px;
  top: 23.5%;
  left: 80px;
  z-index: 1;
}

.title-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  color: #e50914;
}

.title-box h1 span {
  font-weight: normal;
  color: #eceff4;
}

.title-box h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.title-box ul {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
}

.title-box ul li::after {
  content: ' |';
  padding: 0 10px 0 5px;
}

.title-box ul li:last-child:after {
  display: none;
}

div.image {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

div.image .img {
  height: 100vh;
  width: 100%;
}

.button {
  border-color: #dbdbdb;
  border-width: 1px;
  background-color: #e50914;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.button strong {
  color: inherit;
}

.button .icon,
.button .icon.is-large,
.button .icon.is-medium,
.button .icon.is-small {
  height: 1.5em;
  width: 1.5em;
}

.button.is-hovered,
.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button.is-focused,
.button:focus {
  border-color: #e50914;
  color: #363636;
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(229, 9, 20, 0.25);
}

.button.is-active,
.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.talks_2021 {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  left: 80px;
  top: 75%;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

.talks_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.talk_card {
  background: #171717 url('/osday2021.png') no-repeat;
  background-size: cover;
  width: 18em;
  height: 10em;
  position: relative;
  z-index: 1;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em;
  padding: 0.5em;
}

.talk_card p {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5em;
}

.talk_card::before {
  content: '';
  position: absolute;
  background: #171717 url('/shsquared.png') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  border-radius: 0 0 5px 0;
}

.riva {
  background: #171717 url('/michele-riva.jpg') no-repeat;
  background-size: cover;
}
.soligo {
  background: #171717 url('/soligo.jpg') no-repeat;
  background-size: cover;
}
.scasciafratte {
  background: #171717 url('/scasciafratte.jpg') no-repeat;
  background-size: cover;
}
.bartolesi {
  background: #171717 url('/bartolesi.jpg') no-repeat;
  background-size: cover;
}
.faye_franceschini {
  background: #171717 url('/omar.jpg') no-repeat;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .title-box {
    width: 100%;
    top: auto;
    left: auto;
    padding: 10px;
  }
}

.sponsors_2022 {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  top: 65%;
  font-size: 1rem;
  font-weight: bold;
  place-items: center;
}

.card_sponsor {
  width: 80%;
  height: 30em;
  border-radius: 1em;
  position: relative;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin-bottom: 2em;
  background-size: cover;
  z-index: 1;
  border: 5px solid #e50914;
}

.inner {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 40px;
}

.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #e50914;
  position: relative;
  margin: 0 0 20px 0;
}

.subtitle {
  color: #e50914;
  text-align: center;
}

.after_main {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  left: 80px;
  top: 67%;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  padding-bottom: 2em;
}

.after_main a {
  text-decoration: underline;
}

.after_main h2 {
  width: 40%;
}

.after_main h3 {
  font-size: 1.5rem;
  width: 50%;
}

.after_main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4em;
}

.after_main_container h3 {
  font-size: 1.5rem;
}

.after_main_container li {
  position: relative;
  width: 18rem;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.cfp_card {
  background: #171717 url('/sh.png') no-repeat;
  background-size: cover;
  width: 18em;
  height: 10em;
  position: relative;
  z-index: 1;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em;
  padding: 0.5em;
}

.cfp_card p {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5em;
}

.cfp_card::before {
  content: '';
  position: absolute;
  background: #171717 url('/shsquared.png') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  border-radius: 0 0 5px 0;
}

.jsts {
  background: #171717 url('/javascript.png') no-repeat;
  background-size: cover;
}
.opensource {
  background: #171717 url('/opensource.png') no-repeat;
  background-size: cover;
}
.cloud {
  background: #171717 url('/cloud.webp') no-repeat;
  background-size: cover;
}
.rustgopython {
  background: #171717 url('/rust.png') no-repeat;
  background-size: cover;
}
.dei {
  background: #171717 url('/dei.jpeg') no-repeat;
  background-size: cover;
}
.a11y {
  background: #171717 url('/a11y.webp') no-repeat;
  background-size: cover;
}
.greensustainability {
  background: #171717 url('/greentech.png') no-repeat;
  background-size: cover;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .nav ul li {
    margin: 0.5em;
  }

  .nav ul li img {
    width: 32px;
    height: 32px;
  }

  .content {
    margin-top: 2em;
  }

  .mobile-menu {
    display: block;
  }

  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    margin: 10px;
    top: 2em;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    z-index: 1100;
    width: 100vw !important;
    height: 100vh !important;
    transition: all 0.5s ease 0s;
    top: 0 !important;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #171717;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #171717;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 80%,
      black 100%
    );
  }

  .title-box ul {
    font-size: 0.8em;
    max-width: 90%;
  }

  .title-box ul li::after {
    padding: 0 0.2em 0 0.1em;
  }

  .talks_2021 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0.5em;
    font-size: 1rem;
    z-index: 1;
    top: 75%;
  }

  main {
    background-image: linear-gradient(
        90deg,
        #171717 0% 25%,
        #171717fa 35%,
        #171717fa 40%,
        #171717fa 45%,
        #171717f5 50%,
        #171717f5 55%,
        #171717f5 60%,
        #171717de 90%,
        #171717de 95%,
        #171717de 100%
      ),
      url('/bg.jpg');
  }

  .title-box p {
    font-size: 1.5em;
    max-width: 90%;
  }

  .after_main {
    position: absolute;
    width: 100%;
    top: 55%;
    padding: 10px;
    left: 0;
  }
  .after_main h2 {
    width: 100%;
    font-size: 1.5em;
  }
  .after_main h3 {
    width: 100%;
    font-size: 1.5em;
  }


  .sponsors_2022 {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    top: 70%;
    font-size: 1rem;
    font-weight: bold;
    place-items: center;
  }
  
  .card_sponsor {
    width: 90%;
    height: 30em;
    padding: 2em;
  }

  .inner {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #e50914;
    position: relative;
    margin: 0 0 20px 0;
  }
}
