@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #2e3440;
  color: #eceff4;
  font-weight: normal;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg,#171717 0% 25%,#171717 35%,#171717 40%,#171717fa 45%, #171717f5 50%,#171717de 55%,#171717c2 60%,#1717175e 90%,#17171714 95%,#17171708 100%);
}

.nav {
  position: absolute;
  left: 1em;
  display: flex;
  width: 98%;
  justify-content: space-between;
  z-index: 2;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul:nth-child(2) {
  margin-right: 1em;
}

.nav ul:nth-child(2) button{
  all: unset;
  cursor: pointer;
}

.nav ul:nth-child(2) button svg {
  width: 32px;
}

.nav ul li {
  margin: 1em 1em;
}

.nav ul li a {
  all: unset;
  cursor: pointer;
}

.nav ul li img {
  width: 50px;
  height: 50px;
}

.title-box {
  position: absolute;
  width: 600px;
  top: 23.5%;
  left: 80px;
  z-index: 1;
}

.title-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  color: #e50914;
}

.title-box h1 span {
  font-weight: normal;
  color: #eceff4;
}

.title-box h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.title-box ul {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
}

.title-box ul li::after {
  content: ' |';
  padding: 0 10px 0 5px;
}

.title-box ul li:last-child:after {
  display: none;
}

div.image {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

div.image .img {
  height: 100vh;
  width: 100%;
}


.button {
  border-color: #dbdbdb;
  border-width: 1px;
  background-color: #e50914;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.button strong {
  color: inherit
}

.button .icon,
.button .icon.is-large,
.button .icon.is-medium,
.button .icon.is-small {
  height: 1.5em;
  width: 1.5em
}

.button.is-hovered,
.button:hover {
  border-color: #b5b5b5;
  color: #363636
}

.button.is-focused,
.button:focus {
  border-color: #e50914;
  color: #363636
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(229, 9, 20, .25)
}

.button.is-active,
.button:active {
  border-color: #4a4a4a;
  color: #363636
}

.talks_2021 {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  left: 80px;
  top: 65%;
  font-size: 1rem;
  font-weight: bold;
}

.talks_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.talk_card {
  background: #171717 url("/osday2021.png") no-repeat;
  background-size: cover;
  width: 250px;
  height: 120px;
  position: relative;
  z-index: 1;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: .5em 1em;
  padding: .5em;
}

.talk_card p {
  background-color:rgba(0, 0, 0, 0.8);
  padding: .5em;
}

.talk_card::before {
  content: '';
  position: absolute;
  background: #171717 url("/shsquared.png") no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 0;
  border-radius: 0 0 5px 0;
}

.riva {
  background: #171717 url("/micheleriva.png") no-repeat;
  background-size: cover;
}

.bartolesi {
  background: #171717 url("/bartolesi.png") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .title-box {
      width: 100%;
      top: auto;
      left: auto;
      padding: 10px;
  }
}