@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #5E81AC;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #81A1C1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #88C0D0;
}
