.cls-1{
    fill:#0d0000;
}
.cls-14,.cls-19,.cls-2,.cls-20,.cls-3{
    fill:#f2f2f2;
}
.cls-3{
    font-size:16px;font-family:MyriadPro-Regular, Myriad Pro;
}
.cls-4{
    letter-spacing:0.01em;
}
.cls-5{
    letter-spacing:0.02em;
}
.cls-6{
    letter-spacing:-0.01em;
}
.cls-7{
    letter-spacing:0.02em;
}
.cls-10,.cls-11,.cls-26,.cls-27,.cls-8,.cls-9{
    fill:red;
}
.cls-9{
    letter-spacing:-0.01em;
}
.cls-10{
    letter-spacing:-0.01em;
}
.cls-11{
    letter-spacing:-0.01em;
}
.cls-12,.cls-20{
    letter-spacing:-0.01em;
}
.cls-13,.cls-19{
    letter-spacing:0em;
}
.cls-14{
    letter-spacing:-0.01em;
}
.cls-15{
    letter-spacing:-0.01em;
}
.cls-16{
    letter-spacing:0em;
}
.cls-17{
    letter-spacing:0.02em;
}
.cls-18{
    letter-spacing:-0.01em;
}
.cls-21,.cls-26{
    letter-spacing:0em;
}
.cls-22{
    letter-spacing:-0.01em;
}
.cls-23{
    letter-spacing:0.01em;
}
.cls-24{
    letter-spacing:-0.01em;
}
.cls-25{
    letter-spacing:-0.01em;
}
.cls-27{
    letter-spacing:-0.01em;
}
.cls-28{
    letter-spacing:0.02em;
}
.cls-29{
    fill:#df1e17;
}
.cls-30{
    fill:#fff;
}
.cls-31{
    fill:#fefefe;
}
